node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
lib/sentry.keys.ts
app.config.js

#sentry
lib/sentry.keys.ts
app.config.js

# macOS
.DS_Store
